<div class="form-style-6">
    <h1><%= t('messages.info') %> <%= @phone.model_name.human %></h1>

  <p id="notice"><%= notice %></p>

    <p>
        <strong><%= Phone.human_attribute_name("contact") %>: </strong>
        <%= @phone.contact.name %>
    </p>

    <p>
        <strong><%= Phone.human_attribute_name("phone") %>: </strong>
        <%= @phone.phone %>
    </p>

    <%= link_to t('buttons.edit'), edit_phone_path(@phone) %> |
    <%= link_to t('buttons.back'), phones_path %>

</div>