<div class="form-style-6">

    <h1><%=t('messages.welcome')%></h1>
    <ul>
        <li><%= link_to Kind.model_name.human(count: 2), kinds_path %></li><br><br>
        <li><%= link_to Contact.model_name.human(count: 2), contacts_path %></li><br><br>
        <li><%= link_to Address.model_name.human(count: 2), addresses_path %></li><br><br>
        <li><%= link_to Phone.model_name.human(count: 2), phones_path %></li><br><br>
    </ul>

</div>