<div class="form-style-6">
  <h1><%= t('messages.info') %> <%= @address.model_name.human %></h1>

  <p id="notice"><%= notice %></p>

  <p>
    <strong><%= Address.human_attribute_name("contact") %>: </strong>
    <%= @address.contact.name %>
  </p>

  <p>
    <strong><%= Address.human_attribute_name("street") %>: </strong>
    <%= @address.street %>
  </p>

  <p>
    <strong><%= Address.human_attribute_name("city") %>: </strong>
    <%= @address.city %>
  </p>

  <p>
    <strong><%= Address.human_attribute_name("state") %>: </strong>
    <%= @address.state %>
  </p>

  <%= link_to t('buttons.edit'), edit_address_path %> |
  <%= link_to t('buttons.back'), addresses_path %>

</div>